In [102]:
import pandas as pd

# to put heading use '#<space><whatever to write>', similiary use ## or ### to make the font smaller

# Documentation

In [103]:
#pd.show_versions() #to see all
pd.__version__

'1.3.4'

In [104]:
pd.read_csv? # to check what the method does, it's signature(what parameters to insert), docstring(what it does) etc.

# type pd.read_csv and press "shift + tab" to get documentation here itself

SyntaxError: invalid syntax (1860549402.py, line 1)

# Series and Datframe

In [105]:
df1 = pd.read_csv('Ex_Files_Pandas_EssT/ExerciseFiles/data/olympics.csv',skiprows=4)

In [106]:
df1.head(4) # first 4, by default it is 5

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold

In [107]:
df1.tail()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

A series is a one dimentional array of indexed data. They can be accessed by following 2 ways

In [108]:
a = df1['City'] # just mentionening series name (column name)
b = df1.City # here it will work, won't work if column name has space
c = df1[['City','Edition']] # for multiple series access put a list within square brackets

In [109]:
print(type(a),"\n",type(b),"\n", type(c)) # to see the type, notice when calling 2 series it becomes dataframe

<class 'pandas.core.series.Series'>
 <class 'pandas.core.series.Series'>
 <class 'pandas.core.frame.DataFrame'>

# Data input and validation

 Shape attribute returns the tupple telling rows and columns in it

In [110]:
print(type(df1.shape))
print(df1.shape)
print(df1.shape[0])  # number of rows
print(df1.shape[1])   # number of columns

<class 'tuple'>
(29216, 10)
29216
10

Info is used to tell charcteristics of data in dataframe as in datatype of the series, null or not

In [111]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          29216 non-null  object
 1   Edition       29216 non-null  int64
 2   Sport         29216 non-null  object
 3   Discipline    29216 non-null  object
 4   Athlete       29216 non-null  object
 5   NOC           29216 non-null  object
 6   Gender        29216 non-null  object
 7   Event         29216 non-null  object
 8   Event_gender  29216 non-null  object
 9   Medal         29216 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

# Basic analysis

value_counts()

In [112]:
df1.Edition.value_counts(sort = True, dropna = False, normalize = True) # to view normalised result

2008    0.069893
2000    0.068969
2004    0.068387
1996    0.063630
1992    0.058358
1988    0.052916
1984    0.049938
1980    0.047474
1976    0.044667
1920    0.044428
1972    0.040560
1968    0.035289
1964    0.034570
1952    0.030429
1912    0.030292
1956    0.030292
1924    0.030257
1960    0.030189
1936    0.029949
1948    0.027861
1908    0.027519
1928    0.024302
1932    0.021050
1900    0.017525
1904    0.016087
1896    0.005168
Name: Edition, dtype: float64

In [113]:
df1.Edition.value_counts(sort = True, dropna = False)

2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: Edition, dtype: int64

In [114]:
df2=df1.value_counts(subset = ['Gender','Edition'] ,sort = True, dropna = False) # subset can only be used with dataframe not series
df2

Gender  Edition
Men     1920       1255
        2000       1126
        2008       1110
        1992       1105
        2004       1099
        1996       1082
        1988       1011
        1984        973
        1980        958
        1972        947
Women   2008        932
Men     1976        924
Women   2004        899
        2000        889
Men     1912        855
        1924        833
        1964        820
        1968        819
        1936        791
        1908        789
Women   1996        777
Men     1952        750
        1956        739
        1960        737
        1948        718
        1928        615
Women   1992        600
Men     1932        555
Women   1988        535
Men     1900        501
Women   1984        486
Men     1904        458
Women   1980        429
        1976        381
        1972        238
        1968        212
        1964        190
Men     1896        151
Women   1956        146
        1960        145
        1952        139
        1948         96
        1928         95
        1936         84
        1932         60
        1924         51
        1920         43
        1912         30
        1908         15
        1904         12
        1900         11
dtype: int64

In [115]:
type(df2) # type of output is series

pandas.core.series.Series

sort_values()

In [116]:
a.sort_values() # sorting series

5177     Amsterdam
5398     Amsterdam
5399     Amsterdam
5400     Amsterdam
5401     Amsterdam
           ...
10737        Tokyo
10736        Tokyo
10735        Tokyo
10748        Tokyo
11623        Tokyo
Name: City, Length: 29216, dtype: object

If inplace is true then the changes are made in dataframe itself that df1. By default it is false, in case it is false, that means that change won't be stores, to store the change you have to assign it to another dataframe that is.  df2 = df1.sort_values(by = ['Medal','Athlete'], inplace = False)

In [135]:
df1.sort_values(by = ['Medal','Athlete'], inplace = False)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
2849,Antwerp,1920,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,200m breaststroke,M,Bronze
2852,Antwerp,1920,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,400m breaststroke,M,Bronze
7709,London,1948,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,individual all-round,M,Bronze
8563,Helsinki,1952,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,team competition,M,Bronze
19062,Seoul,1988,Hockey,Hockey,"AARDENBURG, Willemien",NED,Women,hockey,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2730,Stockholm,1912,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,"free rifle, team",M,Silver
3868,Antwerp,1920,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,"300+600m free rifle, team, prone",M,Silver
4009,Antwerp,1920,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,"free rifle, team",M,Silver
608,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, standing",M,Silver
621,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"free rifle, team",M,Silver

In [119]:
df1.sort_values(by = 'Athlete')

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
651,Paris,1900,Tug of War,Tug of War,"AABYE, Edgar",ZZX,Men,tug of war,M,Gold
2849,Antwerp,1920,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,200m breaststroke,M,Bronze
2852,Antwerp,1920,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,400m breaststroke,M,Bronze
7716,London,1948,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,pommel horse,M,Gold
7730,London,1948,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,team competition,M,Gold
...,...,...,...,...,...,...,...,...,...,...
603,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, prone",M,Bronze
608,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, standing",M,Silver
621,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"free rifle, team",M,Silver
596,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, 3 positions",M,Bronze
8051,Helsinki,1952,Aquatics,Swimming,"ÖSTRAND, Per-Olof",SWE,Men,400m freestyle,M,Bronze

In [133]:
df1.sort_values(by = [1], axis = 1)

TypeError: '<' not supported between instances of 'numpy.ndarray' and 'str'

Boolean list of ascending argument must match the number in by(equal or less)

In [130]:
#df1.sort_values(by = ['Medal','Athlete'], ascending = [False]) # error
#df1.sort_values(by = ['Medal','Athlete'], ascending = False) #this will be fine
df1.sort_values(by = ['Medal','Athlete'], ascending = [False, True])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
608,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, standing",M,Silver
621,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"free rifle, team",M,Silver
2730,Stockholm,1912,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,"free rifle, team",M,Silver
3868,Antwerp,1920,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,"300+600m free rifle, team, prone",M,Silver
4009,Antwerp,1920,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,"free rifle, team",M,Silver
...,...,...,...,...,...,...,...,...,...,...
19062,Seoul,1988,Hockey,Hockey,"AARDENBURG, Willemien",NED,Women,hockey,W,Bronze
7709,London,1948,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,individual all-round,M,Bronze
8563,Helsinki,1952,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,team competition,M,Bronze
2849,Antwerp,1920,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,200m breaststroke,M,Bronze
2852,Antwerp,1920,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,400m breaststroke,M,Bronze

In [ ]:
df1.