In [3]:
import pandas as pd

# to put heading use '#<space><whatever to write>', similiary use ## or ### to make the font smaller

# Documentation

In [4]:
#pd.show_versions() #to see all
pd.__version__

'1.3.4'

In [6]:
pd.read_csv? # to check what the method does, it's signature(what parameters to insert), docstring(what it does) etc.

# type pd.read_csv and press "shift + tab" to get documentation here itself

SyntaxError: invalid syntax (1860549402.py, line 1)

# Series and Datframe

In [7]:
df1 = pd.read_csv('Ex_Files_Pandas_EssT/ExerciseFiles/data/olympics.csv',skiprows=4)

In [8]:
df1.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [9]:
df1.tail()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

A series is a one dimentional array of indexed data. They can be accessed by following 2 ways

In [10]:
a = df1['City'] # just mentionening series name (column name)
b = df1.City # here it will work, won't work if column name has space
c = df1[['City','Edition']] # for multiple series access put a list within square brackets

In [11]:
print(type(a),"\n",type(b),"\n", type(c)) # to see the type, notice when calling 2 series it becomes dataframe

<class 'pandas.core.series.Series'>
 <class 'pandas.core.series.Series'>
 <class 'pandas.core.frame.DataFrame'>

# Data input and validation